.card-container {
    width: 260px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.25s;
    border-radius: 5px;
    padding: 10px;
    margin-block-end: 1rem;
    margin-inline-end: 1.5rem;
}

.card-container:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2em #00ff55aa);
    box-shadow: 0px 0px 15px 0px;
}

.image img {
    overflow: hidden;
    height: 200px;
}

.card-title {
    margin-bottom: -10px;
}


.sensor-card-container {

    border: 1px solid white;
    border-radius: 5%;
    height: 4rem;
    width: 10rem;
    background-color: rgb(161, 165, 165);
}

.sensor-card-title {
   font-size: 0.75rem; 
}

.sensor-card-icon {
    width: 64px;
}