.card-container {
    width: 260px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.25s;
    border-radius: 5px;

    margin-block-end: 1rem;
    margin-inline-end: 1.7rem;
}

.card-container:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2em #ff79c6);
    box-shadow: 0px 0px 15px 0px;
}

.image img {
    overflow: hidden;
    height: 200px;
}

.card-title {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 0.5em;
}


.sensor-card-container {
    justify-content: center;
    border: 1px solid white;
    border-radius: 5%;
    height: 4rem;
    width: 10rem;
    background-color: rgb(161, 165, 165);
}

.sensor-card-title {
   font-size: 0.75rem;
}

.sensor-card-icon {
    width: 64px;
}

.dashboard_title{
    font-size: 2.5rem;
}

.dashboardLayout-grid{
    display: flex;
    justify-content: space-between;
}

.dashboardLayout-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.dashboardLayout-boxes-item {
    height: 100%;
    margin: 0 !important;
    border: 2px solid #efefef;
    border-radius: 4px;
    width: 200px !important;
}

.dashboardLayout-boxes-item .value {
     font-size: 32px;
}


.dashboardLayout-boxes-item .label {
    margin-top: 10px;
    font-weight: bolder;
    color:#f8f8f2 ;
}

.dashboardLayout-boxes-item .blue .value {
    color: blue;
  }
  .dashboardLayout-boxes-item .white .value {
    color: #f8f8f2;
  }

  .dashboardLayout-boxes-item .green .value {
    color: #50fa7b;
  }
  .dashboardLayout-boxes-item .red .value {
    color: #ff5555;
  }

.buttons{
    display: grid;
    text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: 100px;
}
 .buttons .pad {


 }
  .dashboardLayout_grid_chart{
    margin-left: 1.25em;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #bd93f9;
    border-radius: 5px;
  }
.chart{
    width: 250px;

}

.chartSensor{
    width: 700px;
    height: 300px;

}

.card_btn {
    margin-top: 2.25em;
}